(logging/init)
(instrumentation {:enabled? true})

(let [host "0.0.0.0"]
  (tcp-server {:host host})
  (udp-server {:host host})
  (ws-server  {:host host})
  (graphite-server {:host host})

  ; Repl server is super unsafe - be careful
  ; (repl-server {:host host})
)


(periodically-expire 60)
(let [index (index)]

  ; Inbound events will be passed to these streams:
  (streams

               ; index immediately and expire after 30 seconds
    (default :ttl 30 index)

    ; Debug print everything.
    prn

    ; Create Percentiles from any service by host and service
    (where (service #".*$")
      (by [:host :service]
        (percentiles 30 [0.5 0.20 0.50 0.80 0.95]
          prn
        )
      )
    )
  )
)
